html {
  box-sizing: border-box;
  font-family: acumin-pro-wide, sans-serif;
  font-weight: 400;
  font-style: normal;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  overflow: hidden;
  background-color: #b0519f;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
  "nav list"
  "h1 .";
}

header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  border-radius: 4px;
}

.nav {
  float: left;
}

.list {
  float: right;
  justify-self: right;
}

h1 {
  font-weight: 600;
  grid-area: h1;
  padding-left: 1rem;
  margin-top: 0;
}

.section1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
  "blazer blazer daisy blossom"
  "blazer blazer sprite tank"
}

.plaid {
  grid-area: blazer;
}

.daisy {
  grid-area: daisy;
}

.section2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
  "pastel jumpsuit classic classic"
  ". . classic classic";
}

.classic {
  grid-area: classic;
}

.jumpsuit {
  grid-area: jumpsuit;
}
